@font-face {
  font-family: externalFont;
  src: url(../../assets/BNKGOTHL.TTF);
}
.logo-text {
  font-family: externalFont;
}

.mobile-footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  z-index: 10;
  flex-shrink: 0;
  margin: 0;
}