/* App.css - Global styles and app-wide layouts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@font-face {
  font-family: 'BankGothic'; /* Use a descriptive name */
  src: url('./assets/BNKGOTHL.TTF') format('truetype');
  font-weight: normal; /* Define default weight */
  font-style: normal;  /* Define default style */
}